@charset "utf-8";

/*font face*/
@font-face {
font-family: "Myriad Pro Condensed";
src: url("../fonts/Myriad Pro Condensed.ttf");
}

/* CSS Document */
body{
	font-family: 'Myriad Pro Condensed', sans-serif;
	font-size: 18px;
	line-height: 24px;
	background-color: #fff;
}
a, a:hover{
	color: black;
	text-decoration: none;
}
h2.sec{
	margin: 50px auto;
	text-align: center;
	height: 50px;
	width: 300px;
	line-height: 1.75;
	font-size: 25px;
}
h2.sec:hover{
	opacity: 0.5;
}

.des{
	padding: 0px !important;
}
/*Thanh nav*/
.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
	font-family: 'Myriad Pro Condensed', cursive;
	font-size: 20px;
	background: white;
	border-bottom: 1px solid black;
}
.navbar-collapse a:link, a:visited{
	color:  black !important;
	transition: .2s;
}
.navbar-collapse a:hover{
	opacity: 0.8;
	
}

/*chỉnh 3 cái nút gọi*/

.navbar-collapse  li a:hover{
	color: #fff;
	opacity: 0.5;
}
/*hết thanh nav*/
.noleft{
	padding-right: 25px !important;
	padding-left: 0px !important;
}

.nbr{
	/*this class mean no border*/
	border: none;
}

a:hover{
	text-decoration: none;
}

/*khối jumbotron*/
.jumbotron .input-group-btn:hover .dropdown-menu{
	display: block;
}

.jumbotron {
      background-color: transparent;
      color: black !important;
      padding: 30px 10px 0 10px;
	  margin: 50px 0 0 0;
	  border-bottom: 1px solid black;
}

.clearfloat{
	float: clear;
}

.logo-top{
	float: left;
	font-size:30px;
	
}
/*jumbotron: thanh tìm kiếm sửa nút dropdown*/
.jumbotron .input-group{
	border: none;
	border-radius: 3px;
	margin: 0px 100px 0 0;
	float: left;

}
/*nút danh mục*/
.jumbotron .input-group-btn .dropdown-menu{
	font-size: 16px;
	background-color: #fff !important;
	border: none;
	color: black;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/*nút gửi*/
.jumbotron .input-group-btn .btn-default{
	background-color: transparent;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.jumbotron .input-group-btn .btn-default:hover{
	opacity: 0.5;
	transition: 0.2s;
}
.jumbotron .input-group-btn .dropdown .dropdown-menu li:link, li:visited{
	color: black !important;
	background-color: white !important;
	transition: .2s;
}

.jumbotron .input-group-btn .dropdown:hover .dropdown-menu{
	display: block;
}
.jumbotron .input-group-btn .dropdown-menu li a:hover{
	background-color: #fff;
	border: 1px solid black;
	transition: .2s;
}
/*thanh điền*/
.jumbotron .form-control{
	background-color: transparent;
	border: none;


}
.jumbotron .input-group-btn .glyphicon-search{
	box-shadow: 1;
}
/*jumbotron: sửa login with face,gg...*/
.jumbotron .login-register{
	font-size: 18px;
	float: right;
	text-align: right;
	top:-30px;
}
.jumbotron .login-register a{
	padding: 8px 14px;
}
.jumbotron .login-register a:hover{
	opacity: 0.5;
	transition: .3s ease;
}
/*modal login*/
#login .modal-header{
	border-bottom: none;
	font-size: 10px;
	background-color: white;
	border-bottom: 1px solid black;
}
#login .modal-header h4{
	font-size: 25px;
}
#login .modal-footer{
	border-top: none;
	background-color: white;
	border-top: 1px solid black;
}
#login .close{
	margin: 8px 5px auto auto;
}
#login h4 a:hover{
	border-bottom: 1px dashed black;
}
#login a.remove:hover{
	transition: 0.2s;
	opacity: 0.5;
}


/* add appropriate colors to fb, twitter and google buttons */
#login .fb {
  background-color: #3B5998;
  padding: 10px 13px 10px 13px;
  border: none;
  margin: 5px 0;
  display: block;
  color: white !important;
  font-size: 17px;
  line-height: 20px;

}
#login .fb:hover, .twitter:hover, .google:hover{
  opacity: 0.5;
  transition: 0.2s;
}
#login .twitter {
  background-color: #55ACEE;
  padding: 10px 13px 10px 13px;
  border: none;
  margin: 5px 0;
  display: block;
  color: white !important;
  font-size: 17px;
  line-height: 20px;
}

#login .google {
  background-color: #dd4b39;
  padding: 10px 13px 10px 13px;
  border: none;
  margin: 5px 0;
  display: block;
  color: white !important;
  font-size: 17px;
  line-height: 20px;
}

/* style the submit button */
#login input[type=submit] {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px 13px 10px 13px;
  border: none;
  margin: 5px 0;
  display: block;
  width: 100%;
  font-size: 17px;
  line-height: 20px;
    border: 1px solid #fff;
}

#login input[type=submit]:hover {
  background-color: #fff;
  color: black;
   
  transition: 0.2s;
}
#login input[type=text], input[type=password]{
	padding: 10px 13px 10px 13px;
  border: none;
  margin: 5px 0;
  display: block;
  width: 100%;
  font-size: 17px;
  line-height: 20px;
	color:black;
  border: 1px solid black;
}

/* Two-column layout */
#login .col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
#login .row:after {
  content: "";
  display: table;
  clear: both;
}

/* hide some text on medium and large screens */
#login .hide-md-lg {
  display: none;
}

/* bottom container */
#login .bottom-container {
  text-align: center;
  background-color: transparent;
}
#login .singin{
	color: black;
}
#login .singin:hover{
	border-bottom: 1px solid black;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  #login .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  #login .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  #login .hide-md-lg {
    display: block;
    text-align: center;
  }
}

/*hết khối jumbortorn*/
/*chinh nut shop và look trong tung sản phẩm*/
.containeric {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.imageic {
  display: block;
  width: 100%;
  height: auto;
}

.overlayic {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.containeric:hover .overlayic {
  opacity: 1;
}

.iconicr {
  color: rgba(255,255,255,0.85);
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;

}
.iconicr:hover img{
  opacity: 0.5;
  transition: 0.2s;
}
.iconicl {
  color: rgba(255,255,255,0.85);
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}
.iconicl:hover img{
  opacity: 0.5;
  transition: 0.2s;
}

.vl {
    border-left: 3px solid rgba(255,255,255,0.85);
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
.caption a:link, a:visited{
	font-size: 20px;
	color:  black;
}
.caption a:hover{
	border-bottom: 1px dashed black;
}
/*ket thuc chinh nut trong tung hinh*/


/*FOOOOOOOOOTTTTERRRRR
phần gửi lời yêu thương*/
.grey .input-group{
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
}
.grey .form-control{
	background-color: transparent;
	color: black;
	font-size: 18px;
	border: none;
	height: 40px;
}
.grey .btn-default{
	background-color: transparent;
	border-radius: 0px;
	border: none;
	border-left: 1px solid white ;
}
.grey .btn-default:hover{
	opacity: 0.5;
	transition: 0.2s;
}
.grey .copyrai{
	text-align: center;
}
/*khối xám đằng đuôi quan trọng*/
.grey{
	font-family: 'Myriad Pro Condensed', cursive;
	font-size: 20px;
	padding: 50px;
	color: black;
	background-color:  white ;
	margin: 30px 0px 0 0;
}
/*phần footer hỗ trợ khách hàng*/
.help h3{
font-size: 20px;
}
.help p{
font-size: 15px;
}
.help a:link, a:visited{
	color: black;
}
.help a:hover{
	border-bottom: 1px dashed black;
}
/*phần footer dưới cùng*/
footer {
	border-top: 1px solid black;
}
footer .totop:hover{
	opacity: 0.5;
	transition: 0.2s;
}
footer .row{
	padding-top: 20px;
}
footer .copyrai{
	text-align: center;
}
footer .login-register{
	float: right;
	text-align: right;
}
footer .login-register a{
	padding: 8px 14px;
}
footer .login-register a:hover{
	opacity: 0.5;
	transition: .3s ease;
}
/*còn đây là phần chỉnh cho điện thoại và ipad*/
@media (max-width: 992px){
	.grey .copyrai{
		text-align: left;
	}
	.containeric {
		margin: 0 auto;
}
}

@media (max-width: 768px){
	.jumbotron .input-group{
		width: 100%;

}
	.jumbotron .login-register{
		top: 20px;

	}
	.jumbotron{
		padding-bottom: 40px;
	}
	.grey .login-register{
		top: 20px;
		text-align: left;
	}

	
}

@media (max-width: 480px){

	
}
/*slide animm*/
 .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
/*FOOOOOOOOOTTTTERRRRR
phần gửi lời yêu thương*/
.grey .input-group{
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
}
.grey .form-control{
	background-color: transparent;
	color: #470f7bb3;
	font-size: 18px;
	border: none;
	height: 40px;
}
.grey .btn-default{
	background-color: transparent;
	border-radius: 0px;
	border: none;
	border-left: 1px solid white ;
}
.grey .btn-default:hover{
	opacity: 0.5;
	transition: 0.2s;
}
.grey .copyrai{
	text-align: center;
}
/*khối xám đằng đuôi quan trọng*/
.grey{
	font-size: 20px;
	padding: 50px;
	margin: 30px 0px 0 0;
}
/*phần footer hỗ trợ khách hàng*/
.help h3{
font-size: 20px;
}
.help p{
font-size: 15px;
}
.help a:link, a:visited{
	color: #470f7bb3;
}
.help a:hover{
	border-bottom: 1px dashed #470f7bb3;
}
/*phần footer dưới cùng*/

footer .totop:hover{
	opacity: 0.5;
	transition: 0.2s;
}
footer .row{
	padding-top: 20px;
}
footer .copyrai{
	text-align: center;
}
footer .login-register{
	float: right;
	text-align: right;
}
footer .login-register a{
	padding: 8px 14px;
}
footer .login-register a:hover{
	opacity: 0.5;
	transition: .3s ease;
}
/*còn đây là phần chỉnh cho điện thoại và ipad*/
@media (max-width: 992px){
	.grey .copyrai{
		text-align: left;
	}
	.containeric {
		margin: 0 auto;
}
}

@media (max-width: 768px){
	.jumbotron .input-group{
		width: 100%;

}
	.jumbotron .login-register{
		top: 20px;

	}
	.jumbotron{
		padding-bottom: 40px;
	}
	.grey .login-register{
		top: 20px;
		text-align: left;
	}

	
}

@media (max-width: 480px){

	
}
/*slide animm*/
 .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }


/*phần riêng ko được copyy*/

.padalit{
	margin-top: 30px;
}
.padalit h4{
	font-size: 18px;
}

.panel-group{
	top: 220px;
	width: 15%;
	position: fixed;
}
@media (max-width:768px){
	.panel-group {
		top:inherit;
		width:auto;
		position: relative;
	}
}
.panel-group .panel-default{
	border: 1px solid black;
	border-radius: 0px;
	
}
.panel-group .panel-default .panel-heading{
	background-color: white;
}
.panel-group .panel-default .panel-heading .panel-title a{
	font-size: 20px;
	color: black;
}
.panel-group .panel-default .panel-heading .panel-title a:focus, a:hover{
	text-decoration: none;
}
.panel-group .panel-default .list-group{
	border-top:  1px solid black !important;
}
.panel-group .panel-default .list-group .list-group-item{
	font-size: 16px;
	color: black;
}

/*sửa chút số*/
.panel-group .badge{
	transition: .2s;
	color: white;
}


