* {
  padding: 0;
  margin: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
body {
  font-family: 'Montserrat', Times New Roman;
  font-size: 0.9rem;
	letter-spacing: 0.7px;
}
section{
	padding-bottom: 40px;
}
h1{
  text-align: center;
  font-size: 35pt;
  line-height: 1.5;
  margin: 30px auto;
	font-weight: 500;
}
h2{
	font-size: 23pt;
	color: #00cdce;
	font-weight: 400;
}
p{
	line-height: 2;
}

/*totop*/
.totop{
	position: fixed;
	bottom: 10%;
	right: 7%;
	z-index: 10;
}
.totop img{
	width: 100%;
}

/*header*/
header {
	position: fixed;
	top: 0;
	width: 100%;
  background-color: rgba(25, 25, 25, 0.8);;
  color: white;
  padding: 15px 0;
	z-index: 10;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
	width: 97%;
  margin: 0 auto;
}
.header_content h2 {
	color: white;
	font-weight: 200;
  font-size: 3rem;
	letter-spacing: 3px;
}
.header_content h2 span {
	color: #00cdce;
}
.header_content nav ul li {
  list-style: none;
  display: inline;
}
.header_content nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
	margin: 7px;
  font-size: 1rem;
	border-bottom: 2px solid white;
	transition: all .2s;
}
.header_content nav ul li a:hover{
	border-bottom: none;
	color: #00cdce;
}

/*banner*/
#banner .item{
	display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./../images/b1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color: white;
	text-align: center;
	width: 100%;
}
#banner .item2{
	background-image: url(./../images/b2.jpg);
}
#banner .item3{
	background-image: url(./../images/b3.jpg);
}
#banner .item4{
	background-image: url(./../images/b4.jpg);
}
.item-text h2{
	font-size: 4rem;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: white;
}
.item-text p{
	margin-top: 2vw;
	letter-spacing: 2px;
}
/*owl carousel*/
.owl-theme .owl-nav {
	position: absolute;
	background: chartreuse;
	width: 100%;
	top: 50%;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
	position: absolute;
	font-size: 5rem;
	line-height: 0;
	color: white;
	opacity: 0.7;
	box-shadow: 1px 1px 1px;
}
.owl-carousel .owl-nav button.owl-next{
	right: 7%;
}
.owl-carousel .owl-nav button.owl-prev{
	left: 7%;
}
.owl-theme .owl-dots{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 5%;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: black;
}
/*about*/
#about{
  text-align: center;
}

.about_content {
  display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}
.icon-circle{
	margin: 0 auto;
	position: relative;
	width: 85px;
	height: 85px;
}
.about_item i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  font-size: 1.8rem;
  transition: all 0.5s ease;
	color: white;
	z-index: 99;
}
.about_item a:before{
	content: "";
	width: 85px;
	height: 85px;
	border-radius: 50%;
	display: block;
	transition: all 0.5s;
	background: #00cdce;
}
.icon-circle:hover i{
	color: #00cdce;
	transform: scale(1.5)translate(-25%, -25%);
}
.icon-circle:hover a:before{
	transform: scale(0);

}
#about .about_content p{
	margin-top: 18px;
	opacity: 0.6;
}
#about .about_content .no-opacity p{
	opacity: 1;
}
#about .about_content h2{
	margin-top: 21px;
}

/*stats*/
.background-blue{
	background: #00cdce;
}
#stat{
	padding-top: 8px;
	text-align: center;
}
#stat p{
	font-size: 1.8rem;
}
#stat p.counter{
	color: white;
	font-size: 2.5rem;
	line-height: 1;
}
.list-count{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 70%;
	margin: 0 auto;
}
.count_item{
	margin: 5px auto;
}
@media screen and (min-width:480px) and (max-width:992px){
	.list-count {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
	}
}

/*blog*/
#blog img{
	width: 100%;
}
.blog{
	border-top: 4px solid #00cdce;
	margin: 12px;
	background-color: #efefef;
}
.blog-text{
	padding: 15px;
}
.blog-text h4{
	font-size: 1.4rem;
	font-weight: 500;
}
.blog-text a h4{
	color: #00cdce;
	transition: all .5s;
}
.blog-text a h4:hover, .blog-text a h4:active{
	color: black;
}
.blog-text p{
	margin-top: 5px;
	margin-bottom: 25px;
}
.blog-text .button-read{
	margin: 10px auto;
}
a.read{
	color: black;
	border: 1px solid black;
	padding: 10px 15px;
	transition: color all .5s;
/*	overflow: hidden;*/
	transition: 0.1s ease-out;
}
a.read:before{
	content: '';
	display: inline;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 100px;
	height: 50px;
	text-align: center;
	transition: box-shadow 0.5s ease-out;
	color: red;
	z-index: 9;
}
a.read:hover{
	color: white;
}
a.read:before:hover{
	box-shadow: inset 0 0 0 100px red;
}
/*getmore*/
#getmore{
	display: flex;
	padding-bottom: 0;
	justify-content: flex-start;
}

.getmore_img{
	width: 73vw;
	height: 360px;
	background-image: url("../images/video.jpg");
	background-position: left;
	background-size: auto;
	background-repeat: no-repeat;
}
.moretext{
	flex-grow: 1;
	text-align: center;
	padding: 15px;
	width: 100%;
}
.moretext p{
	color: white;
}
.button-read{
	margin-top: 30px;
}


/*portfolio*/
#portfolio{
	text-align: center;
}
.list-port{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	margin: 0 auto;
	width: 80%;
}
.port{
	margin: 10px;
	position: relative;
}
.port img{
	width: 100%;
}
.overlay-port{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0,0,0,.72);
	width: 88%;
	height: 80%;
	padding: 15px;
	opacity: 0;
	transition: all .5s;
}
.overlay-port:hover{
	opacity: 1;
	cursor: pointer;
}
.overlay-port h4{
	border-bottom: 1px solid #00cdce;
	border-top: 1px solid #00cdce;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.8rem;
	font-weight: 300;
	color: #00cdce;
}
.overlay-port p{
	margin: 15px 4px auto 4px;
	color: white;
	line-height: 1.3;
}

/*subcribe*/
#subcribe{
	text-align: center;
	padding: 10px;
	padding-bottom: 20px;
}
#subcribe p{
	color: white;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 20px;
}
input.email{
	width: 50%;
	padding: 15px;
	font-family: 'Montserrat', Times New Roman;
	letter-spacing: 1.7;
	border: none;
	outline: none;
	font-weight: 600;
}
.button-click{
	margin: 30px auto;
}
a.click{
	color: white;
	background: black;
	padding: 10px 45px;
	font-size: 1.5rem;
	transition: all .2s;
}
a.click:hover{
	color: black;
	background: white;
	border: 1px solid black;
}

/*agent*/
#agent{
	text-align: center;
}
.list-agent{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 0 auto;
	width: 80%;
}
.agent{
	margin: 10px 15px;
}
.agent img{
	width: 100%;
	vertical-align: bottom;
}
.agent-text{
	background: rgba(0, 0, 0, 0.79);
	margin: 0;
	color: white;
	padding: 20px 10px;
}
.agent-text h4{
	color: #00cdce;
	font-size: 1.3rem;
	font-weight: 500;
}
.agent-text ul{
	margin-top: 8px;
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 70%;
  margin: auto;
}
.agent-text a i{
	color: white;
	width: 30px;
	height: 30px;
	padding: 6px;
	border: 2px solid white;
	transition: all .5s;
}
.agent:hover h4{
	color: white;
}
.agent-text a i.fa-facebook:hover{
	background: #3b5998;
}
.agent-text a i.fa-twitter:hover{
	background: #55acee;
}
.agent-text a i.fa-rss:hover{
	background: #f26522;
}
@media screen and (min-width:480px) and (max-width:992px){
	.list-agent {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			width: 60%;
	}
}
/*map*/
.map{
	width: 100%;
	height: 350px;
	border: 2px solid #00b6e3;
	background: #bbb;
	padding: 15px;
}

/*contact us*/
#contact form{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-auto-flow: column;
	grid-gap: 30px;
	margin: 0 auto;
	width: 80%;
}
#contact form input, #contact form textarea{
	width: 100%;
	font-family: 'Montserrat', Times New Roman;
	letter-spacing: 1.7;
	border: none;
	border-bottom: 2px solid #999;
	outline: none;
	background: rgb(239, 239, 239);
}
#contact form input{
	padding: 15px;
}
#contact textarea{
	padding-top: 15px;
	padding-left: 15px;
	grid-row: 1 / span 3;
	resize: none;
}
#contact button{
	color: white;
	border: none;
	font-size: 1rem;
	font-family: 'Montserrat', Times New Roman;
	background: black; 
	transition: all .5s;
}
#contact button:hover{
	background: #00cdce;
	color: black;
}

/*footer*/
footer{
	background: #00cdce;
	padding: 40px 10vw;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer p a.doll{
	color: red;
	transition: all .5s;
}
footer p a.doll:hover{
	color: white;
}
footer ul{
	justify-content: flex-end;
	margin-top: 8px;
	list-style: none;
	display: flex;
}
footer ul a{
	font-size: 1.1rem;
	margin: auto 10px;
}
footer ul a i{
	color: white;
	width: 38px;
	height: 38px;
	border: 1px solid white;
	transition: all .5s;
  line-height: 38px !important;
	text-align: center;
}
footer ul a i.fa-facebook:hover{
	color: #3b5998;
}
footer ul a i.fa-twitter:hover{
	color: #55acee;
}
footer ul a i.fa-rss:hover{
	color: #f26522;
}
footer ul a i.fa-vk:hover{
	color: #45668e;
}






